<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132325589580-h2c5hm5o5r5lk8jtvf5friau06v2llrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132325589580-h2c5hm5o5r5lk8jtvf5friau06v2llrt</string>
	<key>API_KEY</key>
	<string>AIzaSyAqMyDcmF-sSvOl57Cyv6GMSlIHUIZKJyk</string>
	<key>GCM_SENDER_ID</key>
	<string>132325589580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taekki.dev.29thAssignment</string>
	<key>PROJECT_ID</key>
	<string>madagascarsession</string>
	<key>STORAGE_BUCKET</key>
	<string>madagascarsession.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132325589580:ios:f357de24fd1a087621eae9</string>
</dict>
</plist>